@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom:  50px;
  font-family: 'Roboto Mono', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}
nav {
  background-color: transparent;
  
  z-index: 2;
}
nav ul li {
  cursor: pointer;

}
.nav a {
  text-decoration: none;
  color: #fff;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav a:hover {
  color: red;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1597685646057-a6d74f64db76?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHxkanxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  height: 100vh;
  position: relative;
  margin-bottom: 150px;
  overflow: hidden;
  
}

.hero .head-container {
  flex-direction: column;
  height: 50%;
  margin-top: 200px;
  color: #fff;
 

}

.hero .head-container .content{
  font-family: 'Roboto', sans-serif;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  
  top: 300px;
}

.hero .head-container .content h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.hero .head-container .content h1 {
  background-color: red;
  color: #333;
  width: 70%;
  font-size: 90px;
  margin-bottom: 20px;
  top: 250px;
  padding: 10px 20px;
  letter-spacing: 10px;
  

}


.card {
  border: none;
}

.card-pic {
  background-image: url("https://images.unsplash.com/photo-1607419145932-ed1fc8c034d8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fHRyaXBweXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.card-content h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin: 40px 0;
  background-color: red;
  width: 50%;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social a {
  color: #333;
  margin: 0 10px;
  font-size: 25px;
  cursor: pointer;
}

.social a:hover {
  color: gray;
}

.head {
  transform: translateX(-200%);
  transition: transform 0.8s ease;
}

.head:nth-child(1) {
  transform: translateX(200%);
}



.head.show {
  transform: translateX(0);
}





#mixes {

  background-image: url("logo.JPG");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 200px 0 200px;
  padding: 50px;
  /* position: relative; */
  overflow: hidden;
  
}

.mixes-container {
  width: 80%;
  margin-top: 100px;
 
}

#contact .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  height: 500px
}

#contact .contact-content h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: red;
  font-size: 50px;
  width: 80%;

}
#contact .contact-content a {
  font-size: 26px;
  letter-spacing: 1px;
  color: red;
  margin-bottom: 40px;
  
}


footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 100px;
}
























